# Dependencies
node_modules/

# Env files
.env
.env.*

# Runtime data
data/
*.log
.logs/

# Dev config
developer/
test.js

# Editor
.vscode
.github/
!.github/
.opencode/
.kilo


# OS files
Thumbs.db
.DS_Store
